{
  "extends": "@react-native-community",
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-react": "off"
  }, 
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
